<mat-sidenav-container class="sidenav-container custom-sidenav-container">

  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile && isExpanded && authService.isLoggedIn()"
    [ngClass]="{ 'sidenav': true, 'collapsed': !isExpanded, 'expanded': isExpanded, 'custom-sidenav': true }"
    [disableClose]="!isMobile" [hidden]="!authService.isLoggedIn()">

    <mat-toolbar class="sidenav-header">
      <div *ngIf="isExpanded" class="logo-container">
        <mat-icon>store</mat-icon>
        <span class="app-title">HOÀNG GIA</span>
      </div>
      <div *ngIf="!isExpanded" class="logo-container-small">
        <mat-icon>store</mat-icon>
      </div>
      <button *ngIf="isMobile" mat-icon-button class="close-sidenav" (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list class="menu-list custom-menu-list">
      <a mat-list-item *ngFor="let item of dashboardItems" (click)="goTo(item.route); isMobile && drawer.close()"
        [routerLink]="item.route" routerLinkActive="active-link" matRipple>
        <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
        <span *ngIf="isExpanded" class="label">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="custom-sidenav-content">
    <mat-toolbar color="primary" class="top-toolbar custom-toolbar">
      <button *ngIf="authService.isLoggedIn()" mat-icon-button (click)="toggleSidebar()" aria-label="Toggle menu">
        <mat-icon>{{ isExpanded && !isMobile ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>
      <span class="toolbar-title">
        <mat-icon>store</mat-icon> Quản Lý Cửa Hàng Hoàng Gia Quy Nhơn
      </span>

      <span class="fill-space"></span>

      <button *ngIf="authService.isLoggedIn()" mat-icon-button (click)="logout()" matTooltip="Đăng xuất">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>